snippet pubf
	public function ${1}()
	{
		${2}	
	}

snippet prof
	protected function ${1}()
	{
		${2}	
	}

snippet rg
	Route::get('${1}','${2}');

snippet rga
	Route:get('${1}', function() {
		return ${2};
	});

snippet $
	$this->
